@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Service Desk</h1>
</div>

<img src="/Images/seventeen.jpg" width="300" height="300" />
<img src="/Images/GEKSY_RASPRYGALIS.gif" width="300" height="300" />

<img src="/Images/undefined - Imgur.gif" width="300" height="300" />
<img src="/Images/gif eso.gif" width="300" height="300" />

